<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RFP Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header class="bg-success text-light py-5">
        <div class="container">
            <h1 class="display-4">Herní knihovna</h1>
            <p class="lead"></p>
        </div>
    </header>

    <main class="container mt-5">
        <div class="row">
            {% for game in game %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ game.title }} - {{ game.develepor }}</h5>
                        <p><p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>

    <footer class="bg-success text-light py-4 text-center">
        <div class="container">
            <p> Jeroným Baron| IT3</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>